APP_NAME="Listing ERP"
APP_ENV=production
APP_KEY=base64:ODEiWUESsU2En3Z/RMkH9kora60+UplTj9Nq7CXjV1c=
APP_DEBUG=true
APP_TIMEZONE=Asia/Kolkata
APP_URL=https://listingerp.onrender.com

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_IN

LOG_CHANNEL=stderr
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

# Supabase IPv4 Pooler Configuration (Works on Render, Railway & Cloud)
DB_CONNECTION=pgsql
DB_HOST=aws-0-ap-south-1.pooler.supabase.com
DB_PORT=6543
DB_DATABASE=postgres
DB_USERNAME=postgres.vwiqacryraghytldykmz
DB_PASSWORD="Jigar_patel1515.12"
DB_SSLMODE=require

BROADCAST_CONNECTION=log
CACHE_STORE=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=cookie
SESSION_LIFETIME=120
